@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefono) {
        @content;
    }

}

@mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
    }

}

@mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
    }

}

@mixin grid( $columnas){
    display: grid;
    column-gap: 5rem;
    grid-template-columns: repeat($columnas, 1fr);
}